{{#each this}}
  <li
    class='movie__item'
    data-aos='fade-up'
    data-aos-offset='200'
    data-aos-delay='100'
    data-aos-duration='1000'
    data-aos-easing='ease-in-out'
  >
    <img
      class='movie__img'
      data-id='{{id}}'
      src='https://image.tmdb.org/t/p/w500/{{poster_path}}
      '
      alt='{{title}}'
      loading='lazy'
    />

    <p class='movie__rating'>
      <span>{{vote_average}}</span>
    </p>

    <div
      class='movie__description'
      data-aos='zoom-in'
      data-aos-delay='50'
      data-aos-duration='1000'
      data-aos-easing='ease-in-out'
      data-aos-once='false'
    >
      <p class='movie__title'>{{title}}</p>
      <p class='movie__card-info'>
        {{#each genre_ids}}
          <span>{{this}}</span><span class='movie__card-info--span'>,</span>
        {{/each}}
        |
        {{release_date}}</p>
    </div>
  </li>
{{/each}}