{{#each this}}
  <li class='movie__item'>
    <img
      class='movie__img'
      data-id='{{id}}'
      src='https://image.tmdb.org/t/p/w500/{{poster_path}}
      '
      alt='{{title}}'
      loading='lazy'
    />

    <p class='movie__rating movie__rating--great'>
      <span>{{vote_average}}</span>
    </p>

    <div class='movie__description'>
      <p class='movie__title'>{{title}}</p>
      <p class='movie__card-info'>
        {{#each genre_ids}}
          <span>{{this}}</span><span class='movie__card-info--span'>,</span>
        {{/each}}
        |
        {{release_date}}</p>
    </div>
  </li>
{{/each}}